@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background:#eee;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background: #422C73;
	background: -webkit-linear-gradient(to right, #422C73, #6a46b9);
    background: linear-gradient(to right, #6a46b9, #422C73);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    width: 850px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
    max-width: 100%;
}

nav a {
    font-size: 12px;
    color: #eee;
    text-decoration: none;
    padding: 20px;
    margin: 0 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav a:hover {
    color: #fff;
}

nav a.logout {
    margin-left: auto;
}

nav i {
    font-size: 32px;
    margin-bottom: 10px;
}

/* CONTENT */ 

h1{
    text-align: center;
    padding: 15px;
    font-size: 50px;
    color: #422C73;
}
.content{
    padding: 0 200px;
    height: 100vh;
}
.content p{
    margin-left: 100px;
    padding: 20px;
    text-align: justify;
    font-size: 16px;
    line-height: 26px;
}
.content a{
    color: #422C73;
    text-decoration: underline;
}
.botao{
    display: flex;
    margin: 30px;
    justify-content: space-between;
}
button{
    background-color: #422C73;
    border-radius: 8px;
    color: whitesmoke;
    font-size: 14px;
    padding: 8px;
}
.content img{
    width: 200px;
    height: 100px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
.cards_review{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.cards_review .cardreview img{
    width: 100px;
    height: 200px;
    float: none;
}
h2{
    color: #422C73;
    padding: 50px;
}

.cards_review .cardreview p{
    padding: 10px;
    margin-left: 10px;
    font-size: 12px;
}
.cardreview{
    margin-left: 70px;
}
#modalwrite{
    background: #422C73;  
    position: fixed;
    top:130px;
    left: 0;
    right: 0;
    bottom: 0;
}
#modalwrite h1{
    padding: 30px;
    color: white;
}
#modalwrite input{
    margin: 40px 100px;
    width: 1100px;
    height: 400px;
}
#modalwrite textarea{
    margin-left: 150px;
}
.hide{
    opacity: 0;
    visibility: hidden;
}
#modalwrite button{
    margin-left: 150px;   
}
#modalwrite i{
    color: white;
    position: absolute;
    right: 15px;
    top: 10px;
}

#myreviews{
    background: #eee;  
    height: 100vh;
}
.mywrite img{
    width: 100px;
    height: 200px;
    float: left;
}
.mywrite{
    margin-top: 40px;
  
    padding-top: 60px;
}
.hidewrite{
    display:none;
}