<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/ico/icofont.min.css">
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/861/861083.svg" type="image/x-icon">
    <title>Knowleed</title>
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Criar uma conta</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="icofont-facebook"></i></a>
                    <a href="#" class="social"><i class="icofont-google-plus"></i></a>
                </div>
                <span>ou use o seu e-mail para cadastrar</span>
                <input type="text" placeholder="Nome" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Senha" />
                <button id="buttonSignUp">Cadastrar</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Knowleed</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="icofont-facebook"></i></a>
                    <a href="#" class="social"><i class="icofont-google-plus"></i></a>
                </div>
                <span>ou use sua conta</span>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Senha" />
                <a href="#">Esqueceu sua senha?</a>
                <button>Entrar</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Bem-vindo de volta!</h1>
                    <button class="ghost" id="signIn">Log in</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Olá!</h1>
                    <p>Comece a sua jornada agora mesmo!</p>
                    <button class="ghost" id="signUp">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="./script.js"></script>

</body>

</html>