<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Knowleed</title>
</head>

<body>
    <div class="content">

        <div class="logo">
            <img src="https://imgur.com/58NKPMM.png" alt="logo">
        </div>

        <div id="email">
            <input type="text" name="login" placeholder="Email ou telefone">
        </div>

        <div id="pw">
            <input type="password" name="password" placeholder="Senha">
        </div>

        <div class="log-button" id="login">
            <a href="#" class="button">Login</a>
            <a href="#">Esqueceu sua senha?</a>
        </div>

        <div id="or">
            <p>OU</p>
        </div>

        <div class="log-button" id="log-face">
            <a href="#" class="button" id="facebook">
                <span id="logo1"></span>
                Continue com o Facebook
            </a>
        </div>

        <div class="log-button" id="log-google">
            <a href="#" class="button" id="google">
                <span id="logo2"></span>
                Continue com o Google
            </a>
        </div>

        <div class="log-button" id="sign-up">
            <a href="#" class="button" id="sign">Cadastrar</a>
        </div>

    </div>
</body>

</html>