/* ESTILOS PADRÃO DAS PÁGINAS */

:root {
    --violeta: #422c73;
    --branco: #f0f0f0;
    --transparencia-vio: #422C73cc;
    --transparencia-bra: #f0f0f0cc;
    --degrade-violeta: linear-gradient(#6a46b9, #422C73);
    --degrade-branco: linear-gradient(#f8f8f8, #fff); 
    --sombra-box: 0 7px 14px rgba(0, 0, 0, 0.20), 0 5px 5px rgba(0, 0, 0, 0.20);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

*::selection {
    background: var(--violeta);
    color: var(--branco);
}

html {
    font-family: 'Lato', sans-serif;
    background: var(--transparencia-vio);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p, a {
    font-size: 14px;
}

a {
    color: var(--violeta);
    text-decoration: none;
}

/* ESTRUTURA DE LAYOUT DAS PÁGINAS */

main {
    width: 850px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 25px auto;
}

main .line {
    width: 100%;
    display: grid;
    margin-top: 25px;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    height: 300px;
}

main .line-full {
    grid-template-columns: 1fr;
}

