:root {
    --violeta: #422c73;
    --branco: #f0f0f0;
    --transparencia-vio: #422C73cc;
    --transparencia-bra: #f0f0f0cc;
    --degrade-violeta: linear-gradient(#6a46b9, #422C73);
    --degrade-branco: linear-gradient(#f8f8f8, #fff); 
    --sombra-box: 0 7px 14px rgba(0, 0, 0, 0.20), 0 5px 5px rgba(0, 0, 0, 0.20);
}

html {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 720px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

main .line {
    width: 100%;
    display: grid;
    margin-top: 25px;
    grid-template-columns: 1fr 1fr;
    gap: 25px
}

main .box {
    border-radius: 10px;
    height: 250px;
    width: 100%;
    display: flex;
}

main .box-violeta {
    background: var(--degrade-violeta);
    color: var(--branco);
}

main .box-branco {
    background: var(--degrade-branco);
    color: var(--violeta);
}

main .box .half-vert-left {
    width: 50%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    padding: 25px;
}

main .box .half-vert-right {
    width: 50%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    padding: 25px;
}

main .box h1,
main .box h2,
main .box h3,
main .box h4,
main .box h5,
main .box h6 {
    margin-bottom: 15px;
}