{% extends "partials/template.html" %}
{% block content %}

    <div class="line">
        <div class="box">
            <div class="half-vert half-left box-violeta">
                <p>Ana Paula</p>
                <div class="profile-border">
                    <div class="profile-pic">
                    </div>
                </div>
                <img src="assets/img/level.svg" alt="">
                <p>Nível 8</p>
            </div>
            <div class="half-vert half-right box-branco">
                        <h3>Você tem 2100 pontos</h3>
                        <h4>1750 pontos em atividades e 350 de bônus</h4>
                        <a href="#" id="points-btn">Entenda a pontuação</a>
            </div>
        </div>
        <div class="box box-horiz">
            <div class="half-horiz half-top box-violeta">
                <img src="assets/img/trofeu-ouro.png" alt="">
                <div class="side">
                    <h3>Conquistas e pontuação</h3>
                    
                </div>
            </div>
            <div class="half-horiz half-bottom box-branco">
                <div class="grid-insignias">
                    <div class="insignia">
                        <img src="assets/img/ponto.svg" alt="">
                        <h3>2100</h3>
                        <p>Pontos ganhos</p>
                    </div>
                    <div class="insignia">
                        <img src="assets/img/leitura.svg" alt="">
                        <h3>8</h3>
                        <p>Livros lidos</p>
                    </div>
                    <div class="insignia">
                        <img src="assets/img/quiz.svg" alt="">
                        <h3>6</h3>
                        <p>Reviews escritos</p>
                    </div>
                    <div class="insignia">
                        <img src="assets/img/review.svg" alt="">
                        <h3>6</h3>
                        <p>Quizes perfeitas</p>
                    </div>
                    <div class="insignia">
                        <img src="assets/img/login.svg" alt="">
                        <h3>21</h3>
                        <p>Dias seguidos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line line-full">
        <div class="box">
            <div class="half-vert half-left box-violeta">
                <img src="assets/img/trofeu-ouro.png" alt="">
                <h3>Na última semana você subiu no ranking e alcançou o 9° lugar!</h3>
                <h4>Mantenha o ritmo, suba mais algumas posições e ganhe prêmios incríveis!</h4>
                <a href="#" id="rewards-btn">Veja as recompensas disponíveis!</a>
            </div>
            <div class="half-vert half-right box-branco">
                <h4>Esse é o Top 3 da sua escola:</h4>
                <div class="grid-alunos">
                    <div class="aluno">
                        <img src="assets/img/aluno01.jpg" alt="">
                        <p>1° lugar</p>
                        <h3>Bruno</h3>
                        <p>2550 pontos</p>
                    </div>
                    <div class="aluno">
                        <img src="assets/img/aluno02.jpg" alt="">
                        <p>2° lugar</p>
                        <h3>Alice</h3>
                        <p>2430 pontos</p>
                    </div>
                    <div class="aluno">
                        <img src="assets/img/aluno03.jpg" alt="">
                        <p>3° lugar</p>
                        <h3>Clara</h3>
                        <p>2390 pontos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "partials/modal.html" %}
    <script src="assets/js/conquistas.js"></script>
{% endblock content %}