{% extends "partials/template.html" %}
{% block content %}
    <div class="line line-full">
        <div class="box">
            <div class="half-vert half-left box-violeta">
                <img src="assets/img/livro03.jpg" alt="" class="now-reading-img">
                <div class="now-reading-links">
                    <a href="#" id="sinopse-btn">Sinopse</a><a href="#" id="review-btn">Reviews</a><a href="#" id="quiz-btn">Responda as Quizes</a>
                </div>
            </div>
            <div class="half-vert half-right box-branco now-reading-description">
                <h4>Você está lendo</h4>
                <h3>Orgulho e Preconceito</h3>
                <p>Progresso:<br>Capítulo 7/10</p>
                <div class="progress-bar">
                    <div class="progress-fill">
                    </div>
                </div>
                <a href="/leitura">Continuar</a>
            </div>
        </div>
    </div>
    <div class="line">
        <div class="box box-horiz">
            <div class="half-horiz half-top box-violeta">
                <img src="assets/img/pending.svg" alt="">
                <div class="side">
                    <h3>Você tem atividades pendentes</h3>
                </div>
            </div>
            <div class="half-horiz half-bottom box-branco">
                <div class="grid-insignias pendentes">
                    <div class="insignia">
                        <img src="assets/img/quiz.svg" alt="">
                        <p>2 Reviews</p>
                        <a href="/review">Ver</a>
                    </div>
                    <div class="insignia">
                        <img src="assets/img/review.svg" alt="">
                        <p>1 Quiz</p>
                        <a href="#" id="quiz-btn-2">Ver</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-horiz">
            <div class="half-horiz half-top box-violeta">
                <img src="assets/img/leitura.svg" alt="">
                <div class="side">
                    <h3>Estante Virtual</h3>
                    <p>Confira seus livros abaixo ou</p>
                    <a href="#">Encontre novos livros</a>
                </div>
            </div>
            <div class="half-horiz half-bottom box-branco">
                <div class="grid-livros">
                        <img src="assets/img/livro01.jpg" alt="" class="livro-estante">
                        <img src="assets/img/livro02.jpg" alt="" class="livro-estante">
                        <img src="assets/img/livro03.jpg" alt="" class="livro-estante">
                </div>
            </div>
        </div>
    </div>
    {% include "partials/modal.html" %}
    <script src="assets/js/livros.js"></script>
{% endblock content %}
