{% extends "partials/template.html" %}
{% block content %}

    <div class="line">
        <div class="box">
            <div class="half-vert half-left box-violeta">
                <div class="profile-border">
                    <div class="profile-pic">
                    </div>
                </div>
                <img src="assets/img/level.svg" alt="">
                <h3>Nível 8</h3>
            </div>
            <div class="half-vert half-right box-branco">
                <img src="assets/img/igor-violeta.png">
                <p>Bem vinda,</p>
                <h3>Ana Paula</h3> 
                <p>Vamos continuar sua leitura de ontem?</p>
                <a href="/leitura">Continuar</a>
            </div>
        </div>
        <div class="box box-horiz">
            <div class="half-horiz half-top box-violeta">
                <img src="assets/img/trofeu-ouro.png" alt="">
                <div class="side">
                    <h3>Conquistas e pontuação</h3>
                    <a href="/conquistas">Ver todas as conquistas</a>
                </div>
            </div>
            <div class="half-horiz half-bottom box-branco">
                <div class="grid-insignias">
                    <div class="insignia">
                        <img src="assets/img/ponto.svg" alt="">
                        <h3>1150</h3>
                        <p>Pontos ganhos</p>
                    </div>
                    <div class="insignia">
                        <img src="assets/img/leitura.svg" alt="">
                        <h3>10</h3>
                        <p>Livros lidos</p>
                    </div>
                    <div class="insignia">
                        <img src="assets/img/quiz.svg" alt="">
                        <h3>8</h3>
                        <p>Reviews escritos</p>
                    </div>
                    <div class="insignia">
                        <img src="assets/img/review.svg" alt="">
                        <h3>9</h3>
                        <p>Quizes completas</p>
                    </div>
                    <div class="insignia">
                        <img src="assets/img/login.svg" alt="">
                        <h3>21</h3>
                        <p>Dias seguidos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line line-full">
        <div class="box">
            <div class="half-vert half-left box-violeta">
                <img src="assets/img/trofeu-ouro.png" alt="">
                <h3>Na última semana você subiu no ranking e alcançou o 9° lugar!</h3>
                <h4>Mantenha o ritmo, suba mais algumas posições e ganhe prêmios incríveis!</h4>
                <a href="/ranking">Veja o ranking completo</a>
            </div>
            <div class="half-vert half-right box-branco">
                <h4>Não há nada melhor que uma boa leitura. Se não pesar na mochila, melhor ainda!</h4>
                <div class="grid-livros">
                    <img src="assets/img/livro01.jpg" alt="">
                    <img src="assets/img/livro02.jpg" alt="">
                    <img src="assets/img/livro03.jpg" alt="">
                    
                </div>
                <a href="/livros">Veja sua estante virtual</a>
            </div>
        </div>
    </div>
{% endblock content %}