{% extends "partials/template.html" %}
{% block content %}

    <div class="line">
        <div class="box"  id="capture">
            <div class="half-vert half-left box-violeta">
                <p>Ana Paula</p>
                <div class="profile-border">
                    <div class="profile-pic">
                    </div>
                </div>
                <img src="assets/img/trofeu-ouro.png" alt="">
                <p>9° lugar</p>
            </div>
            <div class="half-vert half-right box-branco">
                        <img src="assets/img/ponto.svg" alt="" class="align-left">
                        <p class="align-left">Ganhei 1150 pontos</p>
                        <img src="assets/img/leitura.svg" alt="" class="align-right">
                        <p class="align-right">Li 10 livros</p>
                        <img src="assets/img/quiz.svg" alt="" class="align-left">
                        <p class="align-left">Escrevi 8 reviews</p>
                        <img src="assets/img/review.svg" alt="" class="align-right">
                        <p class="align-right">Gabaritei 9 quizes</p>
            </div>
        </div>
        <div class="box box-horiz">
            <div class="half-horiz half-top box-violeta">
                <img src="assets/img/trofeu-ouro.png" alt="">
                <div class="side">
                    <h3>Compartilhe seu progresso!</h3>
                    <a href="#" id="download"><i class="icofont-share"></i> Compartilhar</a>
                </div>
            </div>
            <div class="half-horiz half-bottom box-branco column">
                <h3>Você chegou longe...</h3>
                <p>...e o mérito é todo seu! Compartilhe seu progresso com os amigos, para que eles saibam o quanto você devora os livros! </p>
            </div>
        </div>
    </div>
    <div class="line line-full">
        <div class="box">
            <div class="half-vert half-left box-violeta">
                <img src="assets/img/trofeu-ouro.png" alt="">
                <h3>Na última semana você subiu no ranking e alcançou o 9° lugar!</h3>
                <h4>Mantenha o ritmo, suba mais algumas posições e ganhe prêmios incríveis!</h4>
                <a href="#" id="rewards-btn">Veja as recompensas disponíveis!</a>
            </div>
            <div class="half-vert half-right box-branco">
                <h4>Esse é o Top 3 da sua escola:</h4>
                <div class="grid-alunos">
                    <div class="aluno">
                        <img src="assets/img/aluno01.jpg" alt="">
                        <p>1° lugar</p>
                        <h3>Bruno</h3>
                        <p>1650 pontos</p>
                    </div>
                    <div class="aluno">
                        <img src="assets/img/aluno02.jpg" alt="">
                        <p>2° lugar</p>
                        <h3>Alice</h3>
                        <p>1450 pontos</p>
                    </div>
                    <div class="aluno">
                        <img src="assets/img/aluno03.jpg" alt="">
                        <p>3° lugar</p>
                        <h3>Clara</h3>
                        <p>1350 pontos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "partials/modal.html" %}
    <script src="assets/js/dom-to-image.min.js"></script>
    <script src="assets/js/FileSaver.min.js"></script>
    <script src="assets/js/ranking.js"></script>
{% endblock content %}