{% extends "partials/template.html" %}
{% block content %}
    <div class="line line-full">
        <div class="box">
            <div class="half-vert half-left box-violeta">
                <img src="assets/img/livro02.jpg" alt="" class="now-reading-img">
                <div class="now-reading-links">
                    <a href="#" id="review-btn-dois">Veja outros reviews</a>
                </div>
            </div>
            <div class="half-vert half-right box-branco now-reading-description">
                <img src="assets/img/quiz.svg" alt="">
                <h4>Review pendente</h4>
                <h3>Sherlock Holmes<br>O Cão dos Baskerville</h3>
                <a href="#" id="write-btn-dois">Escrever review</a>
            </div>
        </div>
    </div>
    <div class="line line-full">
        <div class="box">
            <div class="half-vert half-left box-violeta">
                <img src="assets/img/livro01.jpg" alt="" class="now-reading-img">
                <div class="now-reading-links">
                    <a href="#" id="review-btn">Veja outros reviews</a>
                </div>
            </div>
            <div class="half-vert half-right box-branco now-reading-description">
                <img src="assets/img/quiz.svg" alt="">
                <h4>Review pendente</h4>
                <h3>O Torneio dos Céus</h3>
                <a href="#" id="write-btn">Escrever review</a>
            </div>
        </div>
    </div>
    {% include "partials/modal.html" %}
    <script src="assets/js/review.js"></script>
{% endblock content %}