<nav>
    <div id="nav-mobile" class="nav-mobile">
        <button id="nav-btn" class="nav-btn" onclick="#">Menu</button>
    </div>
    <div id="nav-desktop" class="nav-desktop">
        <a href="/perfil"><i class="icofont-user-alt-5"></i>Perfil</a>
        <a href="/livros"><i class="icofont-book-alt"></i>Livros</a>
        <a href="/leitura"><i class="icofont-read-book"></i>Leitura</a>
        <a href="/review"><i class="icofont-quill-pen"></i>Reviews</a>
        <a href="/ranking"><i class="icofont-trophy-alt"></i>Ranking</a>
        <a href="/conquistas"><i class="icofont-badge"></i>Conquistas</a>
        <a href="/faq"><i class="icofont-support-faq"></i>Ajuda</a>
        <a href="/" class="logout"><i class="icofont-logout"></i></i>Sair</a>
    </div>
</nav>