<div id="modal-sinopse" class="modal hidden">
    <div class="header">
        <a href="" id="close-sinopse-btn">Fechar <i class="icofont-close-circled"></i></a>
    </div>
    <div class="modal-body">
        <h2>Sinopse</h2><br>
        <p>“É uma verdade universalmente reconhecida que um homem solteiro, de posse de boa fortuna, deve estar atrás de uma esposa.”<br><br>
        Elizabeth e suas quatro irmãs estão impossibilitadas de herdar a propriedade de seu velho pai e enfrentam a ameaça do despejo. As irmãs devem garantir sua segurança financeira por meio do casamento, mas nossa heroína tem outros planos. Ela fez votos de se casar somente por amor. Seu olhar acaba capturado pelo distinto Sr. Darcy, mas quem irá salvar os Bennets? Elizabeth deve se casar por amor ou deve salvar sua família?<br><br>
        Jane Austen se referia a 'Orgulho e Preconceito' (1813), o primeiro romance que escreveu, como seu “filho querido” – e gerações de leitores lhe têm dado um cantinho em seus corações desde então. A atração irresistível que ela retrata, entre a vivaz e independente Elizabeth Bennet e o austero e solene Sr. Darcy, se insere entre as maiores, mais românticas e mais engraçadas histórias de amor já contadas.</p>
    </div>
</div>
<div id="modal-reviews" class="modal hidden">
    <div class="header">
        <a href="" id="close-review-btn">Fechar <i class="icofont-close-circled"></i></a>
    </div>
    <div class="modal-body">
        <h2>Reviews sobre esse livro:</h2><br>
        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in est lacus. Sed vel interdum ipsum, ut fermentum tellus. Aenean sodales nisi id odio efficitur sollicitudin. Suspendisse accumsan lacus sed ipsum tincidunt, iaculis ultricies ligula tincidunt. Donec pharetra finibus tortor, vitae aliquam felis imperdiet et.”<br><i>- Raimundo Nonato</i><br><br>
        “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in est lacus. Sed vel interdum ipsum, ut fermentum tellus. Aenean sodales nisi id odio efficitur sollicitudin. Suspendisse accumsan lacus sed ipsum tincidunt, iaculis ultricies ligula tincidunt. Donec pharetra finibus tortor, vitae aliquam felis imperdiet et.”<br><i>- João dos Santos</i><br><br>
        “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in est lacus. Sed vel interdum ipsum, ut fermentum tellus. Aenean sodales nisi id odio efficitur sollicitudin. Suspendisse accumsan lacus sed ipsum tincidunt, iaculis ultricies ligula tincidunt. Donec pharetra finibus tortor, vitae aliquam felis imperdiet et.”<br><i>- Alice Oliveira</i></p>
    </div>
</div>
<div id="modal-quiz" class="modal hidden">
    <div class="header">
        <a href="" id="close-quiz-btn">Fechar <i class="icofont-close-circled"></i></a>
    </div>
    <div class="modal-body">
        <h2>Escolha um capítulo e responda a quiz:</h2><br>
        <div class="grid-quiz">
            <a href="#" class="checked">Capítulo 1<br><i class="icofont-check-circled"> </i>Concluído</a>
            <a href="#" class="checked">Capítulo 2<br><i class="icofont-check-circled"> </i>Concluído</a>
            <a href="#" class="checked">Capítulo 3<br><i class="icofont-check-circled"> </i>Concluído</a>
            <a href="#" class="checked">Capítulo 4<br><i class="icofont-check-circled"> </i>Concluído</a>
            <a href="#" class="checked">Capítulo 5<br><i class="icofont-check-circled"> </i>Concluído</a>
            <a href="#">Capítulo 6<br><i class="icofont-hand-up"></i> Responda agora</a>
            <a href="#" class="checked">Capítulo 7<br><i class="icofont-book"></i> Termine o capítulo</a>
            <a href="#" class="checked">Capítulo 8<br><i class="icofont-book"></i> Termine o capítulo</a>
            <a href="#" class="checked">Capítulo 9<br><i class="icofont-book"></i> Termine o capítulo</a>
            <a href="#" class="checked">Capítulo 10<br><i class="icofont-book"></i> Termine o capítulo</a>
        </div>
    </div>
</div>

<div id="modal-write" class="modal hidden">
    <div class="header">
        <a href="" id="close-write-btn">Fechar <i class="icofont-close-circled"></i></a>
    </div>
    <div class="modal-body">
        <h3>Escreva seu review sobre o livro. Evite spoilers, para não interferir na experiência dos outros alunos.</h3><br>
        <textarea name="" id="send-text" rows="10"></textarea>
        <p id="send-success" class="hidden"><i>Parabéns! Seu review foi enviado!<br>Após avaliação, você receberá a pontuação correspondente em seu perfil.</i></p>
        <button id="send-write">Enviar</button>
    </div>
</div>

<style>
    .modal {
        position: absolute;
        left: 0;
        top: 0;
        height: 200%;
        width: 100%;
        background: var(--transparencia-vio);
        display: flex;
        flex-direction: column;
    }
    .modal.hidden,
    p.hidden {
        display: none;
    }
    .modal .header {
        display: flex;
        justify-content: flex-end;
        padding: 30px
    }
    .modal .header a {
        color: var(--branco);
        font-size: 20px;
    }
    .modal .header a:hover {
        font-weight: 600;
    }
    .modal .header a:hover i {
        font-size: 22px;
    }
    .modal .modal-body {
        width: 600px;
        max-width: 90%;
        background: var(--violeta);
        color: var(--branco);
        margin: 50px auto;
        padding: 25px;
    }
    .modal .modal-body .grid-quiz {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        text-align: center;
    }
    .modal .modal-body .grid-quiz a {
        color: var(--branco);
        border: 1px solid;
        border-radius: 5px;
        padding: 20px 0;
        font-weight: 600;
    }
    .modal .modal-body .grid-quiz a.checked {
        color: var(--transparencia-bra);
        font-weight: 300;
        pointer-events: none;
    }
    textarea {
        width: 100%;
    }
    button {
        background: var(--violeta);
        color: var(--branco);
        border: none;
        border: 1px solid;
        border-radius: 10px;
        width: 250px;
        height: 35px;
        margin-top: 25px;
        cursor: pointer;
        font-size: 16px;
        transition: background 300ms;
    }
    button:hover {
        color: var(--violeta);
        background: var(--branco);
    }
    #modal-write p {
        width: 100%;
        padding: 10px;
        margin-top: 15px;
        color: var(--violeta);
        background: var(--branco);
    }
</style>