<div id="modal-sinopse" class="modal hidden">
    <div class="header">
        <a href="" id="close-sinopse-btn">Fechar <i class="icofont-close-circled"></i></a>
    </div>
    <div class="modal-body">
        <h2>Sinopse</h2><br>
        <p>“É uma verdade universalmente reconhecida que um homem solteiro, de posse de boa fortuna, deve estar atrás de uma esposa.”<br><br>
        Elizabeth e suas quatro irmãs estão impossibilitadas de herdar a propriedade de seu velho pai e enfrentam a ameaça do despejo. As irmãs devem garantir sua segurança financeira por meio do casamento, mas nossa heroína tem outros planos. Ela fez votos de se casar somente por amor. Seu olhar acaba capturado pelo distinto Sr. Darcy, mas quem irá salvar os Bennets? Elizabeth deve se casar por amor ou deve salvar sua família?<br><br>
        Jane Austen se referia a 'Orgulho e Preconceito' (1813), o primeiro romance que escreveu, como seu “filho querido” – e gerações de leitores lhe têm dado um cantinho em seus corações desde então. A atração irresistível que ela retrata, entre a vivaz e independente Elizabeth Bennet e o austero e solene Sr. Darcy, se insere entre as maiores, mais românticas e mais engraçadas histórias de amor já contadas.</p>
    </div>
</div>
<div id="modal-reviews" class="modal hidden">
    <div class="header">
        <a href="" id="close-review-btn">Fechar <i class="icofont-close-circled"></i></a>
    </div>
    <div class="modal-body">
        <h2>Reviews sobre esse livro:</h2><br>
        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in est lacus. Sed vel interdum ipsum, ut fermentum tellus. Aenean sodales nisi id odio efficitur sollicitudin. Suspendisse accumsan lacus sed ipsum tincidunt, iaculis ultricies ligula tincidunt. Donec pharetra finibus tortor, vitae aliquam felis imperdiet et.”<br><i>- Raimundo Nonato</i><br><br>
        “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in est lacus. Sed vel interdum ipsum, ut fermentum tellus. Aenean sodales nisi id odio efficitur sollicitudin. Suspendisse accumsan lacus sed ipsum tincidunt, iaculis ultricies ligula tincidunt. Donec pharetra finibus tortor, vitae aliquam felis imperdiet et.”<br><i>- João dos Santos</i><br><br>
        “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in est lacus. Sed vel interdum ipsum, ut fermentum tellus. Aenean sodales nisi id odio efficitur sollicitudin. Suspendisse accumsan lacus sed ipsum tincidunt, iaculis ultricies ligula tincidunt. Donec pharetra finibus tortor, vitae aliquam felis imperdiet et.”<br><i>- Alice Oliveira</i></p>
    </div>
</div>
<div id="modal-quiz" class="modal hidden">

</div>

<style>
    .modal {
        position: absolute;
        left: 0;
        top: 0;
        height: 200%;
        width: 100%;
        background: var(--transparencia-vio);
        display: flex;
        flex-direction: column;
    }
    .modal.hidden {
        display: none;
    }
    .modal .header {
        display: flex;
        justify-content: flex-end;
        padding: 30px
    }
    .modal .header a {
        color: var(--branco);
        font-size: 20px;
    }
    .modal .header a:hover {
        font-weight: 600;
    }
    .modal .header a:hover i {
        font-size: 22px;
    }
    .modal .modal-body {
        width: 600px;
        max-width: 90%;
        background: var(--transparencia-bra);
        margin: 50px auto;
        padding: 25px;
    }
</style>