<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/text.css">
    <link rel="stylesheet" href="assets/css/boxes.css">
    <link rel="stylesheet" href="assets/css/perfil.css">
    <link rel="stylesheet" href="assets/css/menu.css">
    <link rel="stylesheet" href="assets/ico/icofont.min.css">
    <link rel="shortcut icon" href="assets/img/owl.svg" type="image/x-icon">
    <title>knowleed</title>
</head>
<body>
    {% include "partials/menu.html" %}
    <main>
    {% block content %}
    {% endblock content %}
    </main>
</body>
</html>