<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../ico/icofont.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
        <nav>
            <a href="#perfil"><i class="icofont-user-alt-5"></i> Perfil</a>
            <a href="#livros"><i class="icofont-book-alt"></i> Livros</a>
            <a href="#leitura"><i class="icofont-read-book"></i> Leitura</a>
            <a href="#review"><i class="icofont-quill-pen"></i> Reviews</a>
            <a href="#ranking"><i class="icofont-trophy-alt"></i> Ranking</a>
            <a href="#conquistas"><i class="icofont-badge"></i></i> Conquistas</a>
            <a href="#" class="logout"><i class="icofont-logout"></i></i> Sair</a>
        </nav>
        <main>
            
        </main>
    <script src="index.js"></script>        
</body>

</html>